---
---
// Esta línea trae la base de Cayman. No toques los corchetes.
@import "{{ site.theme }}";

// --- TUS PERSONALIZACIONES ---

// Cambiemos el color del encabezado para que no sea el verde estándar
.page-header {
  background-color: #1a2a6c; // Un azul profundo, más corporativo
//background-image: linear-gradient(120deg, #1a2a6c, #b21f1f, #fdbb2d); // Un degradado moderno
}

// Cambiar el color de los botones para que contrasten
.btn {
  border-radius: 4px; // Bordes más rectos para un look más "Manager"
  color: #ffffff;
}
